%div#wrapper
  %p Welcome, add a note:
  %div#post_form_wrapper
  %div#posts_wrapper

:javascript
  $(function() {
    var post_form = new BackboneApp.Views.PostForm();
    var posts = new BackboneApp.Views.PostsList();
    //post.set("title", "aa", {validate: true});
    //if(!post.isValid()) {
    //  alert(post.validationError["title"]);
    //}
  });
